name: Build and Release Evening

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run checks
        run: bun check

      - name: Build project
        run: bun run build

      - name: Create Release
        uses: softprops/action-gh-release@v2
        id: create_release
        with:
          files: dist/*
          generate_release_notes: true
          make_latest: true
